[Unit]
Description="WAVEMQ"

[Service]
Restart=always
RestartSec=30
ExecStart=${BIN_LOCATION}/wavemq ${WAVEMQ_CFG_LOCATION}/wavemq.toml

[Install]
WantedBy=multi-user.target

