[Unit]
Description="WAVED"

[Service]
Restart=always
RestartSec=30
ExecStart=${BIN_LOCATION}/waved --config ${WAVED_CFG_LOCATION}/wave.toml

[Install]
WantedBy=multi-user.target

