# wave files
*.pem
*.ent

# ansible files
ansible/*.retry

# python files
*.pyc

# ingester shared objects
ingester/plugins/*.so

# container binaries
containers/ingester/ingester
containers/waved/waved
containers/wavemq/wavemq

# container plugins
*.so

# demo setup
*.db
*.sqlite3
_hod_
demo-setup/influxdata
demo-setup/k3s
